  .book-card {
    display: flex;
    flex-direction: row;  
  }

  
  /* Book image styling */
  .book-image {
    width: 200px;  /* Fixed size for the image */
    height: 300px;
    object-fit: cover;
    border-left: 2px solid #f0f0f0;
  }
  
 
  /* Book details styling */
  .book-details {
    padding: 1rem;
    flex-grow: 1; /* Allow details to take up remaining space */
    color: #333;
  }
  
  /* Book title styling */
  .book-details h2 {
    font-size: 1.5rem;
    margin: 0;
    color: #2c3e50;
  }
  
  /* Book category styling */
  .book-details h2:last-of-type {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    color: #8e44ad;
  }
  
  /* Book description styling */
  .book-details p {
    margin-top: 1rem;
    font-size: 1rem;
    color: #7f8c8d;
    line-height: 1.5;
  }
  
