/* Header Container */
.custom-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #d3d3d3;
    padding: 10px 20px;
    height: 60px;
    width: 100%;
    box-sizing: border-box;
  }
  
  /* Hamburger Menu Icon */
  .menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    cursor: pointer;
  }
  
  .menu-icon span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #3a3a3a;
    border-radius: 2px;
  }
  
  /* User Info Section */
  .user-info {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  /* Username Styling */
  .username {
    font-weight: bold;
    color: #000;
  }
  
  /* Avatar Circle */
  .avatar {
    width: 40px;
    height: 40px;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
  }
  
  /* Avatar Icon */
  .avatar img {
    width: 24px;
    height: 24px;
    filter: invert(1); /* make icon white */
  }
  .login-button{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: x-large;
    padding: 40px;
  }

  .dropdown-menu{
    background-color: #ADD8E6;
    position: absolute;
    top: 55px;
    padding: 20px;
    right: -7px;
    border: 3px solid #9ec5d1;
    border-radius: 15px;
    z-index: 100;
    min-width: 180px;
    text-align: center;
  }
  .dropdown-item {
    display: block;
    padding: 8px;
    color: #0F52BA;
    text-decoration: none;
  }
  .logout-button{
    padding: 10px 0px;
    width: 100%;
    color: white;
    background-color: #0F52BA;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 2px;
  }
  .dropdown-item, .logout-button{
    font-size: 17px;
  }
  .logout-button:hover {
    background-color:  #063a88;
    transition-duration: 0.4s;
  }