.reading-list-page h1 {
    font-size: 36px;
    margin-bottom: 30px;
    color: #333;
}
  
.reading-grid {
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(auto-fit, minmax(210px, 1fr)); */
    gap: 25px;
}
  
.reading-card {
    background: #fff;
    padding: 10px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 190px;
}
  
.reading-card:hover {
    transform: translateY(-5px);
}
  
.reading-image {
    width: 150px;
    height: 220px;
    object-fit: cover;
    border-radius: 8px;
    margin: 2px auto 10px;
    display: block;
}
  
.reading-details {
    text-align: center;
    width: 100%;
}
  
.reading-details h2 {
    font-size: 20px;
    margin: 0px 0 5px;
    color: #222;
}

  